{
  "presets": ["es2015", "stage-0"],
  "plugins": ["transform-decorators-legacy"],
  "ignore": ["node_modules", "*.min.js"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}